#textoEspufi{
    margin-top: 40px;
}

#imgEspufi{
    width: 150px;
    height: 150px;     
}

.contenedorCuadroDeImagenesEspufi1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}


@media(max-width: 467px){
    #imgEspufi{
        width: 100px;
        height: 100px;     
    }
}