#imgPufiNapLeft{
    width: 100px;
    height: 100px;
    margin-top: 80px;
}
#contenedorVermasNapLeft{
  display: flex;
  justify-content: center;
}

#imgMayorPufiNapLeft{
    margin-top: 10px;
   
}

#textoVermasPufiNapLeft{
    margin-left: 20px;
}

