#imgPuficartRight {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}
#contenedorVermasCartRight {
  display: flex;
  justify-content: center;
}

#imgMayorPufiCartRight {
  margin-top: 10px;
}

#textoVermasPufiCartRight {
  margin-left: 20px;
}
