#imgPufirainRaight {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}
#contenedorVermas {
  display: flex;
  justify-content: center;
}

#imgMayorPufirainRight {
  margin-top: 10px;
}

#textoVermasPufirainRight {
  margin-left: 20px;
}
