#imgPufirainLeft{
    width: 100px;
    height: 100px;
    margin-top: 80px;
}
#contenedorVermasLeft{
  display: flex;
  justify-content: center;
}

#imgMayorPufirainLeft{
    margin-top: 10px;
   
}

#textoVermasPufirainLeft{
    margin-left: 20px;
}
